In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import keras
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [2]:
dt = pd.read_csv('heart_cleveland_upload.csv')
dt.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [3]:
X = dt.drop(columns='condition')
X.shape

(297, 13)

In [4]:
y = dt['condition']
y.shape

(297,)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, test_size= 0.2)
X_train.shape, X_test.shape

((237, 13), (60, 13))

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [7]:
def sigmoid(z):
    s = 1/(1 + np.exp(-z))
    return s

In [8]:
def layer_compute(x, w, b):
    
    a = []
    
    for i in range(w.shape[0]):
        temp = 0
        for j in range(x.shape[1]):
            temp = temp + (w[i][j] * x[i][j])
        temp = temp + b[i]
        s = sigmoid(temp)
        a.append(s)
        
    return a